.projectInfo {
  position: fixed;
  top: var(--edge-margin);
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  z-index: var(--z-base);
  transition: top 800ms ease-in-out, transform 800ms ease-in-out, opacity 800ms ease-in-out;
  view-transition-name: project-info;
  opacity: 1;
}

.projectInfo.centeredIntro {
  top: 50%;
  transform: translate(-50%, -50%);
}

.projectInfo.hidden {
  opacity: 0;
}

.projectInfo.visible {
  opacity: 1;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projectInfo:hover .link {
  opacity: 0.6;
}


.details {
  view-transition-name: project-details;
}

.link {
  font-family: 'Executive', sans-serif;
  font-size: 0.75rem;
  line-height: 1.1;
  text-decoration: none;
  opacity: 1;
  transition: opacity var(--transition-fast);
  margin-top: 8px;
  display: inline-block;
}